body { 
	margin: 0; 
	padding-bottom: 3rem; 
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 	
}

#background {
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-image: linear-gradient(45deg, #33ffe0, #33aaff, #b55aff);
	z-index: -1;
}

#form { 
	background: rgba(0, 0, 0, 0.15); 
	padding: 0.5rem; 
	position: fixed; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	display: flex; 
	height: 4rem; 
	box-sizing: border-box; 
	backdrop-filter: blur(10px); 
}

#input { 
	border: none; 
	padding: 0 1rem; 
	flex-grow: 1; 
	border-radius: 2rem; 
	margin: 0.25rem; 
}

#input:focus { 
	outline: none; 
}

#form > button { 
	background: #333; 
	border: none; 
	padding: 0 1rem; 
	margin: 0.25rem; 
	border-radius: 3px; 
	outline: none; 
	color: #fff; 
}

#form > button:hover {
	cursor: pointer;
	background: #565656;
}

#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 10px; 
}

#messages > li { 
	padding: 0.5rem 1rem;
	border: none;
	flex-grow: 1; 
	border-radius: 2rem; 
	background-color: #efefefdd;
	margin-bottom: 10px;
}

#messages > li:nth-child(odd) { 
	/* background: #efefef;  */
}

select {
	background: #333; 
	border: none; 
	padding: 0 1rem; 
	margin: 0.25rem; 
	border-radius: 3px; 
	outline: none; 
	color: #fff; 
}

select:hover {
	cursor: pointer;
	background: #565656;
}